body {
  background: #1e1f22;
  height: auto;
  min-height: 100vh;
  font-family: 'SF Mono', 'Consolas', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  max-width: 980px;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: 576px) {
    padding: 2rem 4rem;
  }
}

.container {
  flex-direction: column;

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
  }
}